<table>
    <tr>
        <th>#</th>
        <th>Task</th>
        <th>Check</th>
        <th>DONE/IN PROGRESS</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>

    <tr *ngFor="let task of taskListCh; let i = index">
        <td>{{i + 1}}</td>
        <td>{{task.name}}</td>
        <td><input type="checkbox" [checked]="task.status" (click)="changeStatus(i)"></td>

        <ng-container *ngIf="task.status; else elseTemplate">
            <td style="color: green;">Done</td>
        </ng-container>
        <ng-template #elseTemplate>
            <td style="color: red;">In PROGRESS</td>
        </ng-template>

        <td><button class="edit" (click)="editTask(i)">Edit</button></td>
        <td><button class="delete" [disabled]="!task.status || editMode" (click)="deleteTask(i)">Delete</button></td>
    </tr>
</table>
<div class="edit-box" *ngIf="editMode">
    <input type="text" class="editText" [(ngModel)]="editText">
    <button class="save" (click)="saveChange()">save</button>
</div>